div.pagination {
  padding: 3px;
  margin: 3px;
}

div.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}
}
div.pagination a.hover, div.pagination a.active {
 background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}
div.pagination span.current {
   padding: 8px 16px;
  margin: 2px;
  border: 1px solid #58D68D;
    
    font-weight: bold;
    background-color: #58D68D;
    color: #FFF;
  }
  div.pagination span.disabled {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #EEE;
  
    color: #DDD;
  }
  